/* основний колір тексту #212121; */
/* додатовий колір тексту background: #757575; */
/* акцент background: #2196F3; */
/* текст героя background: #FFFFFF; */

/* основний колір фону #F5F5F5; */
/* додатковий колір фону #F5F4FA; */
/* фон героя і футера #2F303A; */

.body {
    color: #757575;
}

.list {
    list-style: none;
    
}

/* Лого */
.logo {
    color: #2196F3;
}

/* Навігація по сайту */
.site-nav .link {
    color: #212121;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: #2196F3;
}

/* Контакти */
.contacts .link {
    color: #757575;
}

.contacts .link:hover,
.contacts .link:focus {
    color: #2196F3;
}

/* Герой */
.hero-title {
    color: #FFFFFF;     
}

/* Секція */
.section-title {
    color: #212121;
}