/* основний колір тексту #212121; */
/* додатовий колір тексту background: #757575; */
/* акцент background: #2196F3; */
/* текст героя background: #FFFFFF; */

/* основний колір фону #F5F5F5; */
/* додатковий колір фону #F5F4FA; */
/* фон героя і футера #2F303A; */

:root {
    --prymary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-text: #FFFFFF;
}

body {
    color: var(--prymary-text-color);
}
.list {
    list-style: none;    
}

/* Лого */
.logo {
    color: var(--accent-color);
}

/* Навігація по сайту */
.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Контакти */
.contacts .link {
    color: var(--prymary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* Герой */
.hero-title {
    color: var(--hero-text);     
}

/* Секція */
.section-title {
    color: var(--title-text-color);
}

/* Переваги */
.features .title {
    color: var(--title-text-color);
}

/* Команда */
.teams .title {
    color: var(--title-text-color);
}

/* Кнопка */
.button {

}

/* Футер */
